{namespace gallery=Tx_Yagal_ViewHelpers}
<f:layout name="default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'new')}" icon="new_el"
		title="Create new Gallery" />
</f:section>

<f:section name="content">
	<f:if condition="{galleries}">
		<f:then>

			<p class="bodytext">Here is a list of galleries:</p>
			<table>
				<tr>
					<th>Gallery</th>
					<th># Albums</th>
					<th>Description</th>
					<th>Delete</th>
					<th>Edit</th>
					<th>Detail</th>
					<th>Show</th>
				</tr>
				<f:for each="{galleries}" as="gallery">
					<tr>
						<td><f:link.action action="index" controller="AlbumAdmin"
							arguments="{gallery: gallery}" title="Edit this Gallery">
				{gallery.title}
                            </f:link.action></td>
						<td><f:count subject="{gallery.albums}" /></td>
						<td><f:format.html>{gallery.description}</f:format.html></td>
						<td></td>
						<td><f:be.buttons.icon
							uri="{f:uri.action(action:'edit', arguments:{gallery: gallery})}"
							icon="edit2" title="Edit this gallery" /></td>
						<td></td>
						<td></td>
					</tr>
					<f:for each="{gallery.albums}" as="album">
						<tr>
							<td>&nbsp;</td>
							<td><f:link.action action="show" controller="AlbumAdmin"
								arguments="{album: album}" title="Show Album">
					{album.title}
                                        </f:link.action></td>
							<td><f:format.html>{album.content}</f:format.html></td>
							<td></td>

						</tr>
					</f:for>
				</f:for>
			</table>

		</f:then>
	</f:if>
</f:section>
