<f:layout name="default" />

<f:section name="content">
	<div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">Welcome to {gallery.title}</h2></div>
	<p>{gallery.description} In order to start galleryging, read the <a href="#">Help section</a>.
	</p>
	<div class="tx-galleryexample-list-container">
		<f:if condition="{albums}">
			<f:then>
			<p><f:translate key="label_recent_albums">Below are albums:</f:translate> (<f:count subject="{albums}" />)</p>
				<dl>
					<f:for each="{albums}" as="album">
						<dt>
							<f:link.action action="show" controller="Album" arguments="{album: album, gallery: gallery}"  pageUid="{settings.showPage}">{album.title}</f:link.action>
						</dt>
						<dd>{album.filepath}</dd>
						<dd><img src="{album.highlight}"></img></dd>
						<dd><f:format.crop maxCharacters="100">{album.content}</f:format.crop></dd>
						<dd><f:render partial="albumMetaData" arguments="{album: album}"/></dd>
						<dd><f:render partial="albumTags" arguments="{album: album}"/></dd>
						<dd>
							&nbsp;&nbsp;<f:link.action controller="Album" action="show" arguments="{album : album}" pageUid="{settings.showPage}"><f:translate key="read_more">read more &gt;&gt;</f:translate></f:link.action><br />
						</dd>
					</f:for>
				</dl>
			</f:then>
			<f:else>
				<p>This gallery currently doesn't contain any albums.</p>
			</f:else>
		</f:if>
	</div>
</f:section>
