<f:layout name="default" />
<f:section name="content">
	<p>Welcome to the Yet another Gallery! This installation serves as a demonstration for
	basic development techniques used in Extbase/FLOW3 applications.</p>
	<f:if condition="{galleries}">
		<f:then>
			<p>Here is a list of galleries:</p>
			<dl>
				<f:for each="{galleries}" as="gallery">
					<dt>
						<f:link.action action="index" controller="Album"	arguments="{gallery : gallery}">
							{gallery.title}<br /> (<f:count subject="{gallery.albums}" />)
                                                        <img src="{gallery.sizedHighlight}" />
							<img src="{gallery.highlight}" />
						</f:link.action>
<!--						<f:debug>{gallery}</f:debug>-->
					</dt>
					<dd>
						<f:format.html>{gallery.description}</f:format.html>
					<dd>
				</f:for>
			</dl>
		</f:then>
		<f:else>
			<p>
				<strong>No gallery found</strong>
			</p>
		</f:else>
	</f:if>
</f:section>
