{namespace gallery=Tx_Yagal_ViewHelpers}
<f:layout name="default" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'new')}" icon="new_el" title="Create new Gallery" />
</f:section>

<f:section name="content">
	<f:if condition="{galleries}">
		<f:then>
		
			<p class="bodytext">Here is a list of galleries:</p>
			<ul>
				<f:for each="{galleries}" as="gallery">
					<li>
						<h3>
							<f:link.action action="index" controller="Album" arguments="{gallery: gallery}" title="Edit this Gallery">
								{gallery.title} (<f:count subject="{gallery.albums}" />)
							</f:link.action>
							
							<f:be.buttons.icon uri="{f:uri.action(action:'edit', arguments:{gallery: gallery})}" icon="edit2" title="Edit this gallery" />
						</h3>
						<img src="{gallery.highlight}" />
						<p><f:format.html>{gallery.description}</f:format.html></p>
					</li>
				</f:for>
			</ul>
			<p><f:link.action action="deleteAll">Delete all galleries [!!!]</f:link.action></p>
		</f:then>
		<f:else>
			<p><f:link.action action="populate">Create example dataaaa</f:link.action></p>
		</f:else>
	</f:if>
</f:section>
